// import font
@font-face {
	font-family: "Noto Sans CJK";
	src: url("../fonts/NotoSansCJK-wght-400-900.ttf.woff2") format("woff2"),
		url("../fonts/NotoSansCJK-wght-400-900.ttf.ttc") format("truetype");
	font-weight: 400 900;
	font-style: normal;
	font-display: swap; // 提高載入時的體驗
}

@font-face {
	font-family: "Shrikhand";
	src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Saira Extra Condensed";
	src: url("../fonts/SairaExtraCondensed-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.font-shrikhand {
	font-family: "Shrikhand", sans-serif;
	font-weight: 400;
}

.font-saira-extra-condensed {
	font-family: "Saira Extra Condensed", sans-serif;
	font-weight: 400;
}

// h1,.h1 {
//   font-size: clamp(24px, calc(40px + (48 - 40) * ((100vw - 320px) / (1440 - 320))), 48px);
// }

// 1.5rem：最小字體大小（24px）。
// 3rem：最大字體大小（48px）。
// 20rem：假設的最小視口寬度 320px（320 / 16 = 20rem）。
// 90rem：假設的最大視口寬度 1440px（1440 / 16 = 90rem）。
// (3 - 1.5)：字體大小的差值，即 1.5rem。
// ((100vw - 20rem) / (90 - 20))：計算當前視口寬度在 20rem 到 90rem 之間的比例。

// font-size: calc(1.5rem + (3 - 1.5) * ((100vw - 20rem) / (90 - 20)));

// h2, .h2 {
//   font-size: calc(1.5rem + 1.5 * ((100vw - 20rem) / 70))!important;
// }

// Mixin

// 水平方向的漸層
@mixin gradient-x($start-color: $primary, $end-color: $secondary) {
	background-image: linear-gradient(to right, $start-color, $end-color);
}

// 垂直方向的漸層
@mixin gradient-y($start-color: $primary, $end-color: $secondary) {
	background-image: linear-gradient(to bottom, $start-color, $end-color);
}

@mixin radial-gradient($start-color: $primary, $end-color: $secondary) {
	background-image: radial-gradient(50% 50% at 50% 50%, $start-color 0%, $end-color 100%);
}

//  Rotate animation
.rotate-icon {
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

// card-shadow effect
.card-shadow-100 {
	transition: all 0.3s ease-in-out;
	&:hover {
		-webkit-box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
		-moz-box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
		box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
	}
}

.border-lg-end {
	@include media-breakpoint-up(lg) {
		border-right: 1px solid #ffffff;
	}
}

.aniBtn {
	transition: all 0.3s ease;
	&:hover {
		animation: scale 1.2s linear forwards infinite;
	}
}

// hover button scale animation
@keyframes scale {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

// arrow icon
.arrow-icon {
	display: inline-block;
	height: 24px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	line-height: 0;
	transition: all 0.3s ease;
	&-lg {
		background-size: cover;
	}
	&-start {
		background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23ffffff"/></mask><g mask="url(%23mask0_303_5647)"><path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="%23828282"/></g></svg>');
	}
	&-end {
		background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_250_5034)"><path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="white"/></g></svg>');
	}

	&:hover {
		background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_250_5034)"><path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="%23828282"/></g></svg>');
		animation: aniBtn 1.2s linear forwards infinite;
	}
}

.tab-content .arrow-icon {
	max-width: 314px;
	transition: all 0.3s ease;
	@include media-breakpoint-down(lg) {
		max-width: 90px;
	}
}

@keyframes aniBtn {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(15px);
	}
	100% {
		transform: translateX(0);
	}
}

// dot
.dot {
	width: 8px;
	height: 8px;
	background-color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	font-size: 0;
	&.dot-lg {
		width: 16px;
		height: 16px;
	}
}

// about section - swiper button
.about {
	.swiper-button-prev,
	.swiper-button-next {
		background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23ffffff"/></mask><g mask="url(%23mask0_303_5647)"><path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="%23ffffff"/></g></svg>');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100% !important;
		max-width: 180px;
		line-height: 0;
		transition: all 0.3s ease;
		&:hover {
			background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23ffffff"/></mask><g mask="url(%23mask0_303_5647)"><path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="%23828282"/></g></svg>');
		}
		&:after {
			content: none !important;
		}
	}

	.swiper-button-next {
		background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_250_5034)"><path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="%23ffffff"/></g></svg>');
		&:hover {
			background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_250_5034)"><path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="%23828282"/></g></svg>');
		}
	}
}

// products section - swiper button
.products-details {
	.swiper-button-prev,
	.swiper-button-next {
		background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23ffffff"/></mask><g mask="url(%23mask0_303_5647)"><path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="%23ffffff"/></g></svg>');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100% !important;
		max-width: 180px;
		line-height: 0;
		transition: all 0.3s ease;
		&:hover {
			background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23ffffff"/></mask><g mask="url(%23mask0_303_5647)"><path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="%23828282"/></g></svg>');
		}
		&:after {
			content: none !important;
		}
	}
}

.swiper-button-prev.circle-prev,
.swiper-button-next.circle-next {
	width: 5rem;
	height: 5rem;
	font-size: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 3.75rem;
	transition: all 0.3s ease;
	@include media-breakpoint-down(lg) {
		width: 3rem;
		height: 3rem;
		background-size: 2.25rem;
	}
	&:after {
		content: none;
	}
}

.swiper-button-prev.circle-prev {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23ffffff"><path d="m480-320 56-56-64-64h168v-80H472l64-64-56-56-160 160 160 160Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
	&:hover {
		background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%237000FF"><path d="m480-320 56-56-64-64h168v-80H472l64-64-56-56-160 160 160 160Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
	}
}

.swiper-button-next.circle-next {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%23ffffff"><path d="m480-320 160-160-160-160-56 56 64 64H320v80h168l-64 64 56 56Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
	&:hover {
		background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="%237000FF"><path d="m480-320 160-160-160-160-56 56 64 64H320v80h168l-64 64 56 56Zm0 240q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>');
	}
}

// tabs button
.products-tab {
	.nav-link {
		border: 1px solid #ffffff;
		border-radius: 2.5rem;
		&:hover {
			background-color: #ffffff;
		}
	}
}

.rotating-svg-wrapper {
	position: absolute;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	@include media-breakpoint-down(lg) {
		position: relative;
		bottom: inherit;
		left: inherit;
		transform: inherit;
	}
	.rotating-svg {
		position: relative;
		display: block;
		width: 160px;
		aspect-ratio: 1;
		line-height: 0;
		margin: 0 auto;
		@include media-breakpoint-down(xl) {
			width: 128px;
		}
		@include media-breakpoint-down(lg) {
			width: 109px;
		}
	}
	/* 旋轉的 SVG */
	.rotate-svg {
		display: block;
		animation: rotate 4s linear infinite;
	}

	/* Arrow SVG 絕對定位，覆蓋在旋轉 SVG 上 */
	.arrow-svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	/* Arrow 的 hover 動畫 */
	.arrow-svg .arrow {
		transition: transform 0.3s ease;
	}

	.arrow-svg:hover .arrow {
		animation: move-down 1s ease-in-out infinite alternate;
	}
}

/* 旋轉動畫 */
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* 向下移動動畫 */
@keyframes move-down {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(15px);
	}
}

// p + icon
.hasIcon {
	padding-left: 3.25rem;
	&:before {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		content: "";
		display: inline-block;
		width: 2.5rem;
		height: 2.5rem;
		background-repeat: no-repeat;
		background-size: contain;
		transition: all 0.3s ease;
	}
	&.icon24 {
		padding-left: 2.5rem;
		&:before {
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	&.flowerIcon:before {
		background-image: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_390_209" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40"><rect width="40" height="40" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_390_209)"><path d="M17.0833 35V25.0833L8.49992 30.0417L5.58325 25L14.1666 20L5.58325 15.0417L8.49992 10L17.0833 14.9583V5H22.9166V14.9583L31.4999 10L34.4166 15.0417L25.8333 20L34.4166 25L31.4999 30.0417L22.9166 25.0833V35H17.0833Z" fill="%23000000"/></g></svg>');
	}
	&.flowerIcon.bg-white-icon:before {
		background-image: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_390_209" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40"><rect width="40" height="40" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_390_209)"><path d="M17.0833 35V25.0833L8.49992 30.0417L5.58325 25L14.1666 20L5.58325 15.0417L8.49992 10L17.0833 14.9583V5H22.9166V14.9583L31.4999 10L34.4166 15.0417L25.8333 20L34.4166 25L31.4999 30.0417L22.9166 25.0833V35H17.0833Z" fill="%23ffffff"/></g></svg>');
	}
}

.product-details {
	height: 100%;
	.hoverBorder {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 0;
			height: 2px;
			background-color: #000000;
			inset: auto auto 0 0;
			transition: all 0.3s ease;
			@include media-breakpoint-down(lg) {
				width: 100%;
			}
		}
	}

	&:hover {
		.hoverBorder:before {
			width: 100%;
		}
	}
}

.bg-method-area {
	@include radial-gradient(#28085c, #000000);
}

.bg-about-page {
	@include radial-gradient(#300871, #000000);
}

.pg-about-banner {
	height: 280px;
	background: url("../images/about_us.png") no-repeat 70% 50% / cover;
}

.btn-go-news {
	display: inline-block;
	line-height: 0;
	font-size: 0;
	min-width: 2.5rem;
	height: 2.5rem;
	background: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_321_5981" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40"><rect width="40" height="40" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_321_5981)"><path d="M19.9999 32.6923L18.2179 30.9359L27.9038 21.25H7.30762V18.75H27.9038L18.2179 9.06413L19.9999 7.30775L32.6921 20L19.9999 32.6923Z" fill="%23ffffff"/></g></svg>')
		no-repeat center center / cover;
}

.newsImage {
	width: 196px;
	height: 100%;
	object-fit: cover;
	@include media-breakpoint-down(lg) {
		width: 100%;
    max-height: 108px;
	}
}

.news-details {
  .arrow {
    display: block;
    width: 155px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
    color: #ffffff;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
  }
  .arrow-left {
    background-image: url('data:image/svg+xml,<svg width="155" height="24" viewBox="0 0 155 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_364_6371" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24"><rect x="155" y="24" width="155" height="24" transform="rotate(-180 155 24)" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_364_6371)"><path d="M13 4.99999L9.575 11L153 11L153 13L9.575 13L13 19L2 12L13 4.99999Z" fill="white"/></g></svg>');
    &.disabled {
      background-image: url('data:image/svg+xml,<svg width="155" height="24" viewBox="0 0 155 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_364_6371" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24"><rect x="155" y="24" width="155" height="24" transform="rotate(-180 155 24)" fill="%23828282"/></mask><g mask="url(%23mask0_364_6371)"><path d="M13 4.99999L9.575 11L153 11L153 13L9.575 13L13 19L2 12L13 4.99999Z" fill="white"/></g></svg>');
    }
  }
  .arrow-right {
    background-image: url('data:image/svg+xml,<svg width="155" height="24" viewBox="0 0 155 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_364_6359" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24"><rect width="155" height="24" fill="%23828282"/></mask><g mask="url(%23mask0_364_6359)"><path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="%23ffffff"/></g></svg>');
    &.disabled {
      background-image: url('data:image/svg+xml,<svg width="155" height="24" viewBox="0 0 155 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_364_6359" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24"><rect width="155" height="24" fill="%23828282"/></mask><g mask="url(%23mask0_364_6359)"><path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="%23828282"/></g></svg>');
    }
  }
}
