// import font
@font-face {
	font-family: "Noto Sans CJK";
	src: url("../fonts/NotoSansCJK-wght-400-900.ttf.woff2") format("woff2"),
		url("../fonts/NotoSansCJK-wght-400-900.ttf.ttc") format("truetype");
	font-weight: 400 900;
	font-style: normal;
	font-display: swap; // 提高載入時的體驗
}

@font-face {
	font-family: "Shrikhand";
	src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Saira Extra Condensed";
	src: url("../fonts/SairaExtraCondensed-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

.font-shrikhand {
	font-family: "Shrikhand", sans-serif;
	font-weight: 400;
}

.font-saira-extra-condensed {
	font-family: "Saira Extra Condensed", sans-serif;
	font-weight: 400;
}

// h1,.h1 {
//   font-size: clamp(24px, calc(40px + (48 - 40) * ((100vw - 320px) / (1440 - 320))), 48px);
// }

// 1.5rem：最小字體大小（24px）。
// 3rem：最大字體大小（48px）。
// 20rem：假設的最小視口寬度 320px（320 / 16 = 20rem）。
// 90rem：假設的最大視口寬度 1440px（1440 / 16 = 90rem）。
// (3 - 1.5)：字體大小的差值，即 1.5rem。
// ((100vw - 20rem) / (90 - 20))：計算當前視口寬度在 20rem 到 90rem 之間的比例。

// font-size: calc(1.5rem + (3 - 1.5) * ((100vw - 20rem) / (90 - 20)));

// h2, .h2 {
//   font-size: calc(1.5rem + 1.5 * ((100vw - 20rem) / 70))!important;
// }

// Mixin

// 水平方向的漸層
@mixin gradient-x($start-color: $primary, $end-color: $secondary) {
	background-image: linear-gradient(to right, $start-color, $end-color);
}

// 垂直方向的漸層
@mixin gradient-y($start-color: $primary, $end-color: $secondary) {
	background-image: linear-gradient(to bottom, $start-color, $end-color);
}

@mixin radial-gradient($start-color: $primary, $end-color: $secondary) {
	background-image: radial-gradient(50% 50% at 50% 50%, $start-color 0%, $end-color 100%);
}

// useage
// .class {
// 	@include radial-gradient(#28085c, #000000);
// 	@include gradient-y(#7000ff, #11002d);
// }

.rotate-icon {
    animation: rotate 5s linear infinite;
  }

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.card-shadow-100 {
  transition: all 0.3s ease-in-out;
	&:hover {
		-webkit-box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
		-moz-box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
		box-shadow: 0px 0px 16px 8px rgba(143, 0, 255, 0.8);
	}
}

.border-lg-end {
  @include media-breakpoint-up(lg) {
    border-right: 1px solid #ffffff;
  }
}

.aniBtn {
  transition: all 0.3s ease;
  &:hover {
    animation: scale 1.2s linear forwards infinite;
  }
}

@keyframes scale {
	0% {
		transform: scale(1);
	}
  50% {
    transform: scale(1.15);
  }
	100% {
		transform: scale(1);
	}
}

.arrow-icon {
  display: inline-block;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  line-height: 0;
  transition: all 0.3s ease;
  &-lg{
    background-size: cover;
  }
  &-start {
    background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_303_5647" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23ffffff"/></mask><g mask="url(%23mask0_303_5647)"><path d="M26 38L4 24L26 10L19.15 22H176V26H19.15L26 38Z" fill="%23828282"/></g></svg>');
  }
  &-end {
    background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_250_5034)"><path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="white"/></g></svg>');
  }

  &:hover {
    background-image: url('data:image/svg+xml,<svg width="180" height="48" viewBox="0 0 180 48" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_250_5034" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="180" height="48"><rect width="180" height="48" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_250_5034)"><path d="M154 38L160.85 26H4V22H160.85L154 10L176 24L154 38Z" fill="%23828282"/></g></svg>');
    animation: aniBtn 1.2s linear forwards infinite;
  }
}

@keyframes aniBtn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  &.dot-lg {
    width: 16px;
    height: 16px;
  }
}
