.wrapper {
	margin-bottom: 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	scroll-timeline: --scale-up block;

	img {
		animation: scale-up auto linear;
	}

	.target {
    background-color: #201c1c;
		img:nth-child(2 of .myImg),
    img:nth-child(4 of .myImg) {
			border: 5px solid #ff0;
		}
	}

	h1 {
		font-size: 48px;
		margin-bottom: 1.5em;
	}
	h2 {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 1.2em;
	}

	p {
		margin-bottom: 1rem;
	}

	ul {
		list-style-type: none;
	}
	aside {
		width: 200px;
	}
}

@keyframes scale-up {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}
