// color
$primary-100: #7000ff;
$primary-200: #6e01f8;
$primary-300: #380c7e;
$primary-400: #1f0f39;
$primary-500: #e9e2f3;

$custom-colors: (
	"primary-100": $primary-100,
	"primary-200": $primary-200,
	"primary-300": $primary-300,
	"primary-400": $primary-400,
	"primary-500": $primary-500,
);
// Configuration
@import "bootstrap/scss/functions";
@import './utils/variables';
// 合併到色彩設定
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
// @import "bootstrap/scss/utilities";
@import "./utils/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// Plugins
// @import '@splidejs/splide/css';

@import './utils/base';
@import './layout/header.scss';
@import './layout/footer.scss';
@import './pages/index.scss';

@import './utils/test';
