.header {
  background: no-repeat center center / cover url('../assets/images/home_background.png');
  height: 100%;
  .container-fluid {
    margin-bottom: -104px;
  }
  .nav-link {
    color: $light;
    &:hover {
      color: $primary-400;
    }
  }
  .subscript-button {
    
  }
  .rotate-icon {
    animation: rotate 5s linear infinite;
  }
}