<!DOCTYPE html>
<html lang="zh-Hant">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AI-Robot - Contact Us</title>
	</head>

	<body>
		<%- include('./layout/header'); -%>
		<main>
			<div class="bg-contact-page text-light">
				<div class="container">
          <div class="row pt-13 pb-15 py-lg-22">
            <h2 class="fs-40 fs-lg-2 mb-10 mb-lg-5 text-light fw-bold lh-base ls-100">聯絡我們</h2> 
            <div class="col-lg-6 offset-lg-1">
              <p class="mb-9 mb-lg-14">您的意見與需求對我們至關重要！如果您對 ALPHABOX+ 有任何疑問、建議或需求，請隨時填寫以下表單，我們將在 24 小時內回覆您。您的寶貴意見將幫助我們不斷改進產品與服務，為您帶來更優質的體驗。</p>
              <p class="mb-9 mb-lg-14 fw-bold">我們期待您的來信與來電，竭誠為您解答。讓我們攜手共創更美好的未來！</p>
              <form action="">
                <div class="form-floating mb-5">
                  <input type="text" class="form-control text-primary-400 border border-dark" id="floatingName" placeholder="姓名">
                  <label class="fw-bold text-primary-400" for="floatingName">姓名</label>
                </div>
                <div class="form-floating mb-5">
                  <input type="email" class="form-control text-primary-400 border border-dark" id="floatingInput" placeholder="name@example.com">
                  <label class="fw-bold text-primary-400" for="floatingInput">EMAIL</label>
                </div>
                <div class="form-floating mb-5">
                  <input type="tel" class="form-control text-primary-400 border border-dark" id="floatingTel" placeholder="聯絡電話">
                  <label class="fw-bold text-primary-400" for="floatingTel">聯絡電話</label>
                </div>
                <div class="form-floating mb-5">
                  <textarea class="form-control" placeholder="comments" id="floatingTextarea"></textarea>
                  <label class="fw-bold text-primary-400" for="floatingTextarea">COMMENTS</label>
                </div>
                <button type="button" class="d-flex gap-1 align-items-center justify-content-center py-2 px-5 border-0 rounded-1 bg-primary-200 w-100 text-light">
                  <span class="d-block lh-1">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="mask0_303_5745" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                        <rect width="24" height="24" fill="#D9D9D9"></rect>
                      </mask>
                      <g mask="url(#mask0_303_5745)">
                        <path d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z" fill="white"></path>
                      </g>
                    </svg>
                  </span>
                  <span class="fw-medium">送出</span>
                </button>
              </form>
            </div>
            <div class="col-lg-4 offset-lg-1 mt-13 mt-lg-0">
              <ul class="list-unstyled d-flex flex-column gap-10">
                <li>
                  <span class="d-block opacity-50">客服時間</span>
                  <span class="d-block">週一至週五 09:00-18:00</span>
                </li>
                <li>
                  <span class="d-block opacity-50">聯絡地址</span>
                  <span class="d-block">高雄市新興區民生一路 56 號</span>
                </li>
                <li>
                  <span class="d-block opacity-50">聯絡地址</span>
                  <span class="d-block">+886-2-12345678</span>
                  <span class="d-block">+mailto: <a class="text-decoration-none" href="mailto:customer@alphabox.com">customer@alphabox.com</a></span>
                </li>
              </ul>
            </div>
					</div>
          <div class="row">
            <div class="col">
              <div class="border-top py-10">
                <ul class="list-unstyled mb-0 d-flex flex-column flex-lg-row justify-content-lg-end gap-5 gap-lg-14">
                  <li><a class="text-decoration-none" href="javascript:;">INSTAGRAM</a></li>
                  <li><a class="text-decoration-none" href="javascript:;">FACEBOOK</a></li>
                  <li><a class="text-decoration-none" href="javascript:;">TWITTER</a></li>
                  <li><a class="text-decoration-none" href="javascript:;">LINKEDIN</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row bg-light pt-13 pt-lg-22 pb-lg-18">
            <h2 class="lh-base mb-5 mb-lg-8">選擇自己要的角色</h2>
            <h3 class="mb-8 mb-lg-15 lh-1"><span class="d-inline-block text-primary-200 fs-48 lh-base fw-bold me-2 me-lg-8">20K+</span><span class="fs-4 fs-lg-48 text-dark fw-bold lh-base">使用者喜歡我們的服務</span></h3>
          </div>
				</div>
			</div>
		</main>
		<%- include('./layout/footer'); -%>
		<script type="module" src="../main.js"></script>
	</body>
</html>
