<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AI-Robot</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>

		<main>
			<section id="about" class="about"></section>

			<section id="news" class="news py-13 pt-lg-22 pb-lg-10 text-light position-relative z-3">
				<div class="container">
					<h2 class="mb-9 mb-lg-10 fs-40 fs-lg-48 lh-base ls-100 fw-bold text-center text-lg-start">最新消息</h2>
					<div class="row g-lg-0 mb-10 mb-lg-14">
						<div class="col-lg-12">
							<div class="py-9 px-5 py-lg-10 h-100 border-top">
								<span class="date position-relative d-inline-block mb-2 ps-9 ls-100">2023.06.30</span>
								<h3 class="lh-base fs-20 fw-bold mb-3 ls-150">產品升級公告</h3>
								<div class="d-flex justify-content-lg-between gap-lg-16 flex-wrap flex-lg-nowrap">
									<p class="mb-3 mb-lg-0">
										榮幸地宣布，ALPHABOX+
										已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
									</p>
									<a href="javascript:;" class="arrow-icon arrow-icon-end arrow-icon-lg min-vw-196px fs-0">前住</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="py-9 px-5 py-lg-10 h-100 border-top border-bottom border-lg-end">
								<span class="date position-relative d-inline-block mb-2 ps-9 fw-bold ls-100">2023.06.30</span>
								<h3 class="lh-base fs-20 fw-bold mb-3 ls-150">限時優惠活動</h3>
								<div class="d-flex flex-wrap">
									<p class="mb-3 flex-grow-1">
										為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+
										的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
									</p>
									<a href="javascript:;" class="arrow-icon arrow-icon-end min-vw-90px fs-0">前住</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="py-9 px-5 py-lg-10 h-100 border-top border-bottom">
								<span class="date position-relative d-inline-block mb-2 ps-9 fw-bold ls-100">2023.06.30</span>
								<h3 class="lh-base fs-20 fw-bold mb-3 ls-150">新功能上線</h3>
								<div class="d-flex flex-wrap">
									<p class="mb-3 flex-grow-1">
										為使您的 ALPHABOX+
										更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
									</p>
									<a href="javascript:;" class="arrow-icon arrow-icon-end min-vw-90px fs-0">前住</a>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center mb-0 mb-lg-16">
						<a href="javascript:;" class="d-inline-block aniBtn">
							<img src="../assets/images/circle-more.png" alt="" class="mw-132" />
						</a>
					</div>
					<div class="d-none d-lg-block text-end fw-bold">
						<p>為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</p>
					</div>
				</div>
			</section>

			<section id="share" class="share py-13 pt-lg-22 text-light">
				<div class="container">
					<div class="row gy-8 gy-lg-0 mb-8 mb-lg-10 align-items-center">
						<div class="col-lg-4">
							<h2 class="fs-40 fs-lg-48 fw-bold text-light mb-5 ls-150 lh-base">使用分享</h2>
							<div class="d-flex gap-1 text-light align-items-center fw-bold ma">
								<span>01</span><span>-</span><span>04</span>
							</div>
						</div>
						<div class="col">
							<p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
						</div>
					</div>
					<div class="mb-lg-19">
						<div class="w-15 h-15 d-inline-block mb-5 mb-lg-8">
							<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
								<mask
									id="mask0_2013_1530"
									style="mask-type: alpha"
									maskUnits="userSpaceOnUse"
									x="0"
									y="0"
									width="80"
									height="80"
								>
									<rect width="80" height="80" fill="#D9D9D9" />
								</mask>
								<g mask="url(#mask0_2013_1530)">
									<path
										d="M34.1665 70V50.1667L16.9998 60.0833L11.1665 50L28.3332 40L11.1665 30.0833L16.9998 20L34.1665 29.9167V10H45.8332V29.9167L62.9998 20L68.8332 30.0833L51.6665 40L68.8332 50L62.9998 60.0833L45.8332 50.1667V70H34.1665Z"
										fill="white"
									/>
								</g>
							</svg>
						</div>
						<div class="swiper share-swiper overflow-visible">
							<ul class="swiper-wrapper list-unstyled d-flex gap-5 gap-lg-8 mb-0 mb-lg-11">
								<li class="swiper-slide w-auto">
									<span
										class="d-flex flex-column mw-351 mw-lg-416 aspect-1-1 bg-primary-300 w-100 text-light p-8 p-lg-10 fw-bold mx-auto"
									>
										<span class="d-flex align-items-center gap-2 mb-9">
											<span>Zona</span>
											<span class="dot">.</span>
											<span>Taipei</span>
										</span>
										<p class="mb-auto fw-bold">
											ALPHABOX+
											真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
										</p>
										<span class="d-flex align-items-center gap-5">
											<span class="dot dot-lg"></span>
											<span class="dot dot-lg"></span>
											<span class="fw-bold">ALPHABOX+ Dianne</span>
										</span>
									</span>
								</li>
								<li class="swiper-slide w-auto">
									<span
										class="d-flex flex-column mw-351 mw-lg-416 aspect-1-1 bg-light w-100 text-dark p-8 p-lg-10 fw-bold mx-auto"
									>
										<span class="d-flex align-items-center gap-2 mb-9">
											<span>Lin</span>
											<span class="dot bg-dark">.</span>
											<span>Chiayi</span>
										</span>
										<p class="mb-auto fw-bold">
											非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
										</p>
										<span class="d-flex align-items-center gap-5">
											<span class="dot dot-lg bg-dark"></span>
											<span class="dot dot-lg bg-dark"></span>
											<span class="fw-bold">ALPHABOX+ Felix</span>
										</span>
									</span>
								</li>
								<li class="swiper-slide w-auto">
									<span
										class="d-flex flex-column mw-351 mw-lg-416 aspect-1-1 bg-primary-300 w-100 text-light p-8 p-lg-10 fw-bold mx-auto"
									>
										<span class="d-flex align-items-center gap-2 mb-9">
											<span>云</span>
											<span class="dot">.</span>
											<span>Taipei</span>
										</span>
										<p class="mb-auto fw-bold">
											我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
											ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
										</p>
										<span class="d-flex align-items-center gap-5">
											<span class="dot dot-lg"></span>
											<span class="dot dot-lg"></span>
											<span class="fw-bold">ALPHABOX+ Dianne</span>
										</span>
									</span>
								</li>
								<li class="swiper-slide w-auto">
									<span
										class="d-flex flex-column mw-351 mw-lg-416 aspect-1-1 bg-light w-100 text-dark p-8 p-lg-10 fw-bold mx-auto"
									>
										<span class="d-flex align-items-center gap-2 mb-9">
											<span>Zichi</span>
											<span class="dot bg-dark">.</span>
											<span>Kaohsiung</span>
										</span>
										<p class="mb-auto fw-bold">
											讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
										</p>
										<span class="d-flex align-items-center gap-5">
											<span class="dot dot-lg bg-dark"></span>
											<span class="dot dot-lg bg-dark"></span>
											<span class="fw-bold">ALPHABOX+ Vito</span>
										</span>
									</span>
								</li>
							</ul>
							<div class="d-none d-lg-flex align-items-center gap-7">
								<div class="swiper-scrollbar"></div>
								<div class="text-light fw-bold">SCROLL</div>
							</div>
						</div>
					</div>
					<p class="d-none d-lg-block">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
				</div>
			</section>

			<section id="contact" class="py-13 py-lg-20 bg-primary-400 text-light">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 flex-grow-1">
							<h2 class="fs-40 fs-lg-48 fw-bold text-light mb-3 mb-lg-7 ls-100 lh-base">聯絡我們</h2>
							<div class="d-flex align-items-center gap-2 mb-9 mb-lg-12">
								<span class="dot w-2 h-2 w-lg-3 h-lg-3"></span>
								<span class="w-18 h-2 h-lg-3 bg-light rounded-pill"></span>
							</div>
							<p class="fw-bold mb-1">讓科技成為您的最佳夥伴</p>
							<p class="fw-bold">立即體驗神奇功能並享限時優惠！</p>
						</div>
						<div class="col-lg-8">
							<div class="w-15 h-15 d-inline-block mb-5">
								<svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
									<mask
										id="mask0_2013_1530"
										style="mask-type: alpha"
										maskUnits="userSpaceOnUse"
										x="0"
										y="0"
										width="80"
										height="80"
									>
										<rect width="80" height="80" fill="#D9D9D9" />
									</mask>
									<g mask="url(#mask0_2013_1530)">
										<path
											d="M34.1665 70V50.1667L16.9998 60.0833L11.1665 50L28.3332 40L11.1665 30.0833L16.9998 20L34.1665 29.9167V10H45.8332V29.9167L62.9998 20L68.8332 30.0833L51.6665 40L68.8332 50L62.9998 60.0833L45.8332 50.1667V70H34.1665Z"
											fill="white"
										/>
									</g>
								</svg>
							</div>
							<form class="text-dark" action="">
								<div class="form-floating mb-3">
									<input type="email" class="form-control" id="floatingInput" placeholder="Email">
									<label class="text-uppercase fw-bold" for="floatingInput">Email</label>
								</div>
								<div class="form-floating mb-3">
									<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 120px;"></textarea>
									<label class="text-uppercase fw-bold" for="floatingTextarea">Comments</label>
								</div>
								<button class="btn btn-primary-200 w-100 w-lg-50 border-0 py-2 d-flex align-items-center justify-content-center gap-1 ms-auto" type="submit">
									<span>
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<mask id="mask0_303_5745" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
										<rect width="24" height="24" fill="#D9D9D9"></rect>
									</mask>
									<g mask="url(#mask0_303_5745)">
										<path d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z" fill="white"></path>
									</g>
								</svg>
							</span>
							<span>送出</span></button>
							</form>
						</div>
					</div>
				</div>
			</section>

			<!-- <section id="what-is" class="position-relative">
				<div class="inner">
					<div class="border-bottom border-light position-relative z-2">
						<div class="mw-1784 mx-auto px-3 pt-19 pt-lg-20 pb-7 pb-lg-5">
							<div class="section-border mb-2"></div>
							<h2 class="text-light fw-700 fs-24 fs-lg-48 ls-100 lh-base">
								<span class="d-inline-block">什麼是</span><br /><span class="d-inline-block">ALPHABOX+</span>
							</h2>
						</div>
					</div>
					<div class="container-fluid mw-1784 mx-auto pt-5 pt-lg-9 pb-13 pb-lg-12 position-relative z-2">
						<div class="mb-9 mx-auto" style="max-width: 1296px; max-height: 560px; overflow: hidden">
							<img src="../assets/images/home-carousel-bg.png" alt="" class="w-100 object-fit-cover" />
							<div class="text-light text-start text-lg-end">
								<span class="font-shrikhand fs-64 fs-lg-96 ls-150">01</span>
								<span class="fw-700 fs-32 ls-100 d-inline-block mb-2 mb-lg-5">立體投影技術</span>
								<span class="fw-700">透過高科技立體投影技術，讓您感受真實的科技世界。</span>
							</div>
						</div>
						<div class="section-border reverse"></div>
					</div>
				</div>
			</section> -->
		</main>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
