<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AI-Robot</title>
	</head>
	<body>
		<%- include('./layout/header'); -%>

		<main>
			<section id="what-is" class="position-relative">
				<div class="inner">
					<!-- upper -->
					<div class="border-bottom border-light position-relative z-2">
						<div class="mw-1784 mx-auto px-3 pt-19 pt-lg-20 pb-7 pb-lg-5">
							<div class="section-border mb-2"></div>
							<h2 class="text-light fw-700 fs-24 fs-lg-48 ls-100 lh-base">
								<span class="d-inline-block">什麼是</span><br /><span class="d-inline-block">ALPHABOX+</span>
							</h2>
						</div>
					</div>
					<!-- lower -->
					<div class="mw-1784 mx-auto pt-5 pt-lg-9 pb-13 pb-lg-12 position-relative z-2">
						<div class="mb-9 mx-auto" style="max-width: 1296px; max-height: 560px; overflow: hidden">
							<img src="../assets/images/home-carousel-bg.png" alt="" class="w-100 object-fit-cover" />
						</div>
						<div class="section-border reverse"></div>
					</div>
				</div>
			</section>
		</main>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
